<div class="answer-container">

	{% if questionType == "slider" %}
		{# slider TODO #}
	{% elseif questionType == "image" %}
		<img src="{{ answer.image }}" class="answer-image" alt="{{ answer.text }}">
	{% else %}
		{# "list" of radiobutton #}
		<div class="answer-radio">
			<input type="radio" id="answer-{{ answer.id }}" name="answer" value="{{ answer.id }}">
			<label for="answer-{{ answer.id }}">{{ answer.text }}</label>
		</div>
	{% endif %}

</div>
